<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors" >
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<webHttp/>
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="RandomWeather.Weather" behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
				<endpoint  address="weather"  behaviorConfiguration="AjaxBehavior"  binding="webHttpBinding"  contract="RandomWeather.IWeather" />
			</service>
		</services>
	</system.serviceModel>
</configuration>